<div class="container mt-5">
  <div class="row">
    <div class="mx-auto">
      <tr>
       <th>
         <h1>Welcome to
        </th>
          <i class="fas fa-book "></i>
        <th>
          Bookers</h1>
       </th>
      </tr>
    </div>
  </div>
</div>